In [2]:
!pip install exbook

Requirement already satisfied: exbook in c:\users\pipio\anaconda3\lib\site-packages (0.0.3)

In [37]:
from exbook import book as eb
len(eb)

36

In [3]:
print(eb[0])

Define a function with two strings to be the input arguments. The output is
the summation of the numerical values of the input strings. For example, if
the input strings are "3.5"and "2.7", then the output is 6.2, as a floating
point number.

        Input1: str Input2: str Output: float
Test 1:         3.5         2.7           6.2

Data Type Conversion: Easy

In [24]:
def dtc(Input1, Input2):
        output = float(Input1 + Input2)
        print(output)
    
    
dtc(3.5,2.7)

6.2

In [26]:
print(eb[1])

Write a function to determine whether an integer is a palindrome. An integer
is a palindrome when it reads the same backward as forward. For example,
121 is a palindrome so the output is True, 10 is not a palindrome so the
output is False.

        Input1: int Output: bool
Test 1:         151         True
Test 2:          -5        False

Palindrome: Easy

In [48]:
def dtc(a):
    if str(a) == str(a)[::-1]:
        return(True)
    else:
        return(False)
        
dtc(-5)

False

In [49]:
print(eb[2])

Write a function with a given argument n to return a list containing all
positive integers no larger than n, and these integers can be divided by 7
but can not be divided by 5. For example, if n=50, then the returned list
is [7, 14, 21, 28, 42, 49].

        Input1: int             Output: list
Test 1:          14                  [7, 14]
Test 2:          20                  [7, 14]
Test 3:          50  [7, 14, 21, 28, 42, 49]

Seven And Five: Easy

In [64]:
def checky(n):
    output=[]
    for x in range(0,n+1):
        if x % 7 == 0 and x % 5 != 0:
            output.append(x)
    print(output)
            
checky(50)

[7, 14, 21, 28, 42, 49]

In [66]:
print(eb[3])

Write a function to determine if a given positive integer n is a prime
number.For example, 37 is a prime number so the output is True, 10 is not
so the output is False.

        Input1: int Output: bool
Test 1:           6        False
Test 2:          47         True
Test 3:          53         True
Test 4:          61         True

Prime Number: Easy

In [78]:
def prime(m):
    output = []
    for x in range(1,m+1):
        if m % x ==0:
            output.append(x)
    if len(output) ==2 or len(output) ==1:
        return(True)
    else:
        return(False)
        
prime(37)

True

In [5]:
print(eb[5])

A robot starts to move from the origin (0, 0) on a 2D plane. Given a squence
of moves, in terms of strings "L" for left, "R" for right, "U" for up, and
"D" for down, write a function to tell if the robot returns to the origin
(0, 0) after this sequence of moves. The output of the function is a boolean
value.

        Input1: str Output: bool
Test 1:          UD         True
Test 2:          LL        False

Robot: Easy

In [29]:
def robot(n):
    origin1 = 0
    origin2 = 0
    for x in n:
        if x == "l" or x == "L":
            origin1 = origin1 - 1
        if x == "r" or x == "R":
            origin1 = origin1+1
        if x =="u" or x == "U":
            origin2=origin2+1
        if x =="d" or x == "D":
            origin2 = origin2-1
            
    if origin1 == 0 and origin2 == 0:
        return True
    else:
        return False
    
    
robot("RR")

False

In [9]:
l = (0,0)
k = (0,1)
set(k + l)

{0, 1}

In [4]:
print(eb[6])

Given a list of numbers as the first input argument, write a function to
remove all items in the list that have the same value as the second input
argument. For example, if the first argument is [1, 3, 2, 2, 4, 2, 5] and
the second argument is given as 2, then the output is [1, 3, 4, 5], with
all 2s removed.

               Input1: list Input2: int  Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           2  [0, 1, 3, 5]
Test 2:        [0, 1, 2, 3]           4  [0, 1, 2, 3]

Remove All: Easy

In [9]:
def listeczka(x,y):
    new_list = []
    for z in x:
        if z != y:
            new_list.append(z)
    return(new_list)
listeczka([0, 1, 2, 3], 4)

[0, 1, 2, 3]

In [10]:
print(eb[7])

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values and are
at the same positions. For example, if these two lists are [1, 2, 3, 5] and
[2, 1, 3, 4], then the output is 1 because the same value 3 appears at the
same position 2 of both lists.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           1
Test 2:  [1, 2, 3, 5]  [5, 2, 3, 1]           2

Right Position: Easy

In [14]:
def lists(x,y):
    output = 0 
    if len(x) == len(y):
        for z in range (0,len(x)):
            if x[z] == y[z]:
                output = output + 1
    return(output)

lists([1, 2, 3, 5],[5, 2, 3, 1] )

2

In [15]:
print(eb[8])

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values but are at
the different positions. For example, if these two lists are [1, 2, 3, 5]
and [2, 1, 3, 4], then the output is 2 because the same values 1 and
2 appear at the different positions.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           2
Test 2:  [1, 2, 3, 5]  [1, 2, 3, 4]           0

Wrong Position: Easy

In [21]:
def listunia(x,y):
    output = 0
    for z in range(0,len(x)-1):
        if x[z] != y[z]:
            if x[z] in y:
                output = output + 1
                
    return(output)

listunia([1, 2, 3, 5],[1, 2, 3, 4])

0

In [20]:
print(eb[9])

Given a list of unique numbers, write a function to return the position
index of the smallest number. For example, if the given list is [3, 1, 5, 0,
2, 6], then the returned index is 3, because the smallest number 0 appears
at position 3.

               Input1: list Output: int
Test 1:     [0, 1, 3, 2, 5]           0
Test 2:  [3, 2, 5, 1, 4, 0]           5
Test 3:     [1, 2, 0, 3, 5]           2

Minimum Number Index: Medium

In [25]:
def smallest(x):
    small = 0.1
    result = []
    for z in range(0,len(x)-1):
        if x[z]<small:
            result = z
    return(result)

smallest([0, 1, 3, 2, 5])

0

In [4]:
print(eb[10])

Given a list of numbers as the first input argument, and an integer k as
the second argument, write a function that returns a list of the k smallest
numbers of the list. Items in the returned list is ranked from the smallest
to the largest. For example, if the list is [0, 1, 2, 3, 2, 5], and the
integer is k=3, then the returned list is [0, 1, 2]. If k is larger than
the length of the list, then return the whole list.

               Input1: list Input2: int        Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           3           [0, 1, 2]
Test 2:  [0, 1, 2, 3, 2, 5]           1                 [0]
Test 3:  [0, 1, 2, 3, 2, 5]           8  [0, 1, 2, 2, 3, 5]

K Smallest: Medium

In [28]:
def listeczka(x,k):
    length  = len(x)
    if length < k:
        return(x)
    else:
        x.sort()
        y = x[0:k]
        return(y)
       
            
            
listeczka([0, 1, 2, 3, 2, 5], 3)

[0, 1, 2]

In [30]:
print(eb[12])

Write a function to find the Nth number in the Fibonacci Sequence, In the
Fibonacci Sequence, the next number is the sum of the two numbers before it,
i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ... For example, if N=0, then the
output is 0; if N=1 or N=2, then the output is 1; if N=3, then the output is
2; if N=4, then the output is 3.

        Input1: int            Output: int
Test 1:           4                      3
Test 2:          20                   6765
Test 3:         100  354224848179261915075

Fibonacci: Medium

In [58]:
def fibonacc(n):
    sequence = [0,1]
    if n == 0:
        return(0)
    elif n == 1:
        return(1)
    else:
        sequence = [0,1]
        for x in range(2,n+1):
            sequence.append(sequence[-1]+sequence[-2])
        return(sequence[n])
    
fibonacc(100)

354224848179261915075

In [60]:
print(eb[13])

Create a function to transform the time data as a string of "XX:XX:XXam" or
"XX:XX:XXpm" to the number of seconds counted from 12:00am. For example, the
input of "10:35:29am" gives an output of 38129; the input of 06:21:33pm gives
an output of 66093.

        Input1: str Output: int
Test 1:  10:35:29am       38129
Test 2:  06:21:33pm       66093

Time Conversiont: Easy

In [35]:
def converter(times):
    if "am" in times:
        kluseczka = times.replace("am", "")
        konik = kluseczka.split(":")
        seconds = int(konik[-1])
        minutes = int(konik[-2]) * 60
        hours = int(konik[-3])*60*60
        total = seconds+minutes+hours
        return(total)
    elif "pm" in times:
        kluseczka = times.replace("pm", "")
        konik = kluseczka.split(":")
        
        seconds = int(konik[-1])
        minutes = int(konik[-2]) * 60
        hours = int(konik[-3])*60*60
        total = seconds+minutes+hours+12*60*60
        return(total)
 
    
converter("06:21:33pm")

66093

In [38]:
print(eb[14])

Reverse the digits of an integer. For example, if the input is 123, then the
output is 321; if the input is -456, then the output is -654.

        Input1: int Output: int
Test 1:         123         321
Test 2:        -456        -654

Reverse Digits: Easy

In [52]:
def reverse(x):
    if x>0:
        x = str(x)
        print(x[::-1])
    else:
        x = -x
        x = str(x)
        result = "-"+ x[::-1]
        print(result)
        
reverse(-456)

-654

In [53]:
print(eb[15])

Create a function to remove all duplicates in a list, so that the output is a
list containing the unique values of the original list. For example, if the
input list is [2, 3, 5, 2, 3, 4, 7], then the output must be [2, 3, 5, 4, 7].

                                Input1: list             Output: list
Test 1:                [2, 3, 5, 2, 3, 4, 7]          [2, 3, 5, 4, 7]
Test 2:  [3.5, '4', '4', True, False, False]  [3.5, '4', True, False]

Unique: Easy

In [56]:
def duplicate(lista):
    lista = set(lista)
    lista = list(lista)
    print(lista)
    
    
duplicate([2,3,5,2,3,4,7])         # first solution, although this one also sorted it so change the order of the items)

[2, 3, 4, 5, 7]

In [57]:
#alternative solution

def duplicate(lista):
    new_lista = []
    for x in lista:
        if x not in new_lista:
            new_lista.append(x)
    print(new_lista)
    
    
duplicate([2,3,5,2,3,4,7])

[2, 3, 5, 4, 7]

In [58]:
print(eb[16])

Create a function with the input argument to be a string. The output is the
longest word in the string. For example, the input is a string "NUS Business
School is a magical place", then the output is the string "Business". If
there are two or more words with the same maximum length, then return the
first one.

                                    Input1: str Output: str
Test 1:  NUS Business School is a magical place    Business
Test 2:           Simple is better than complex     complex

Longest Word: Medium

In [77]:
def returner(string):
    list_items = string.split(" ")
    longest_count = 0
    longest_word = 0
    for x in list_items:
        if len(x) > longest_count:
            longest_count = len(x)
            longest_word = x
    print(longest_word)

        
returner("Simple is better than complex")

complex

In [78]:
print(eb[17])

Create a function to return the length of the last word in a string. For
example, if the input is "NUS Business School is a magical place", then the
output is 5, the length of the last word "place".

                                    Input1: str Output: int
Test 1:  NUS Business School is a magical place           5
Test 2:      Take a sad song and make it better           6

Last Word: Easy

In [80]:
def lengthy(x):
    list_items = x.split(" ")
    print(len(list_items[-1]))
    

        
lengthy("NUS Business School is a magical place")

5